apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy-gateway
  namespace: {{ .Values.namespace }}
  labels:
    app: envoy-gateway
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: envoy-gateway
  template:
    metadata:
      labels:
        app: envoy-gateway
    spec:
      containers:
        - name: envoy
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/envoy
              readOnly: true
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.envoy.configMapName }}
