apiVersion: v1
kind: Service
metadata:
  name: envoy-service
  namespace: {{ .Values.namespace }}
  labels:
    app: envoy-gateway
spec:
  type: {{ .Values.service.type }}
  selector:
    app: envoy-gateway
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
